.graphText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 15.8rem;
}

.cur {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ECECEC;
    padding-bottom: .2rem;
}
