.wrapper {
	margin: 3rem 0;
}

.assetWrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}

.textHeader {
	text-align: left;

	font-size: 35px;
	line-height: 48px;
}

.header {
	margin: 2rem 0;
}

.chart {
	width: 50%;
	height: 173px;
}

.chartBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}

.assetHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 3rem 0;
}

.banner {
	position: relative;

	width: 100%;
	height: 100%;
}

.soon {
	position: absolute;
	z-index: 10;

	width: max-content;
	height: 33px;
	margin: auto;

	color: #FFF;

	font-size: 24px;
	font-weight: 500;
	line-height: 33px;
	inset: 0;
}

.filterBlock {
	display: flex;
	flex-direction: row;

	width: 40%;
}

.soonDesk {
	display: block;
}

.soonMobile {
	display: none;
}

.mgr {
	margin-right: 1rem;
}

.glow {
	position: absolute;
	z-index: -9999;

	filter: blur(20px);
}

.purple {
	right: 0;
	bottom: 0;

	opacity: .3;
}

.blue {
	z-index: -25;
	top: 50px;
	left: -220px;
}

.select {
	max-width: 271px !important;

	border: 1px solid #1E1E1E !important;
	border-radius: 12px !important;
	background-color: transparent !important;
	box-shadow: 4px 4px 25px rgb(0 0 0 / 90%) !important;
}

@media screen and (max-width: 1025px) {
	.chartBlock {
		flex-direction: column;
	}

	.chart {
		width: 100%;
	}

	.assetWrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.soonDesk {
		display: none;
	}

	.soonMobile {
		position: relative;

		display: block;

		width: 100%;

		height: 100%;

		padding: 10px;
	}
}

@media screen and (max-width: 900px) {
	.assetHeader {
		flex-direction: column;

		width: 100%;
		margin: 15px 0;

		text-align: center;
	}

	.textHeader {
		margin-bottom: 0;

		line-height: unset;
	}


	.filterBlock {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;

		margin: 10px 0;
	}

	.wrapper {
		margin-top: 5rem;
	}

	.header {
		text-align: center;
	}

	.glow {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	.assetWrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 300px);
	}

	.soon {
		font-size: 18px;
	}
}