.wrapper {
    position: relative;
}

.selected {
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 9px;
    padding: 4px 4px 4px 18px;
    min-width: 130px;
    border-radius: 18px;
    border: 1px solid var(--color-9);
    cursor: pointer;
}

.selected > img {
    --size: 32px;
    width: var(--size);
    height: var(--size);
}

.list {
    position: absolute;
    top: 100%;
    display: none;
    row-gap: 20px;
    width: 100%;
    z-index: 3;
    background-color: var(--color-3);
    border: 1px solid var(--color-9);
    padding: 10px 5px;
    border-radius: 12px;
}

.wrapper:hover .list {
    display: grid;
}

.network {
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    gap: 9px;
}

.network:hover {
    background-color: var(--color-10);
    border-radius: 6px;
}

.network p {
    font-size: 14px;
}

.network img {
    width: 20px;
}
