.addImgWrapper {
    cursor: pointer;
    position: relative;
}

.modal {
    margin-left: 4px;
}

.textBlock {
    z-index: 51;
    position: absolute;
    margin-left: 14px;
    background-color: #0a0a0a;
    backdrop-filter: blur(15px);
    width: 150px;
    padding: 10px;
    top: 0;
    left: 14px;
    border-radius: 5px;
}

.title{
    color: white;
    font-size: 14px;
}