.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
}

.searchWrapper {
	width: 100%;
	max-width: 378px;
}

.filterWrapper {
	display: flex;
	justify-content: space-between;

	width: 100%;
	max-width: calc(161px * 2);
}

.filterWrapper > div {
	margin: 5px;
}

.cutomClassName > label {
	text-align: center;
}

@media (max-width: 800px){
	.wrapper {
		justify-content: space-evenly;
	}
}