.label {
  --size: 32px;
  --line-height: 1px;
  --line-spacing: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
}

.label .bagete {
  background: var(--gray);
  height: var(--line-height);
  margin: var(--line-spacing) 0;
  width: 100%;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}

.input {
  display: none;
}

.input:checked ~ .bagete:nth-of-type(1) {
  opacity: 0;
}

.input:checked ~ .bagete:nth-of-type(2) {
  transform-origin: center;
  margin-bottom: calc(-1 * var(--line-height));
  transform: rotate(-45deg)
}

.input:checked ~ .bagete:nth-of-type(3) {
  transform-origin: center;
  margin: 0;
  transform: rotate(45deg)
}

@media screen and (max-width: 1024px) {
  .label {
    --size: 27px;
    margin-top: 4px;
    --line-spacing: 2.5px;
  }
}
