.formItem {
	margin: 1rem 0;
}

.iBlock {
	display: flex;
	flex-direction: row;
}

.iBlock p:first-child {
	margin-right: .4rem;
}

.shareText {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.shareText p:not(:first-child) {
	color: var(--gray);

	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 14px;
}

.shareText p:first-child {
	color: var(--white);

	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
}