.wrapper {
	margin: 5rem 0;
}

.header {
	margin-bottom: 16px;

	font-size: 35px !important;
}

.description {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 50vw;
}

.descriptItem {
	width: 100%;
	margin-bottom: 15px;

	opacity: 0.8;
	color: #FFF;

	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
}

.headerInfo {
	display: grid;

	margin-top: 15px;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.infoContainer {
	width: 100%;
	height: 100%;

	border: 0.5px solid rgb(255 255 255 / 5%);


	border-radius: 18px;
	background: rgb(30 30 30 / 30%);

	backdrop-filter: blur(15px);
}

.switcherContainer {
	display: flex;
	justify-content: flex-end;

	width: 100%;
	margin: 30px 0 3px;
}

.switcherContainer > div {
	min-width: 100px;
}

.customInfoWrapper {
	padding: 24px !important;

	text-align: left !important;
}

.customInfoTitle {
	justify-content: flex-end;
}

.customInfoValue {
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
}


@media screen and (max-width: 768px){
	.headerInfo {
		grid-template-columns: 1fr;
	}

	.description {
		max-width: 90%;
	}

	.switcherContainer {
		margin: 20px 0;
	}

	.descriptItem {
		font-size: 15px;
	}

	.header {
		font-size: 24px !important;
	}
}