.wrapper {
    width: 10rem;
    height: 1rem;
    margin: 0.25rem 0;
    animation: move 5s ease infinite;
    border-radius: 18px;
}

@keyframes move {
    0% {
        width: 10rem;
    }
    50% {
        width: 3rem;
    }
    100% {
        width: 10rem;
    }
}
