.root {
    width: 100%;
    border: 2px solid var(--color-11);
    border-radius: 18px;
    padding: 30px 35px;
    background: rgba(30, 30, 30, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 -4px 4px rgba(255, 255, 255, 0.25),
    inset 0 0 68px rgba(255, 255, 255, 0.05),
    inset 0 4px 4px rgba(255, 255, 255, 0.15);
    max-width: 355px;
    margin: 0 auto;
}

.root + .root {
  margin-top: 30px;
}

.list {
    width: 100%;
}

.logoWrapper {
    width: 72px;
    height: 65px;
    margin: 0 auto 20px;
}

.logo {
    width: 100%;
    border-radius: 50%;
}

.pare {
    font-weight: 700;
}

.itemValue {
    font-weight: 600;
    margin: 5px 0;
}

.pare,
.itemValue {
    font-size: 18px;
}

.undertitle {
    font-size: 12px;
    font-weight: 300;
    color: var(--gray);
}

.main {
    margin-bottom: 20px;
    text-align: center;
}

.list {
    text-align: center;
}

.list + .list {
    margin-top: 20px;
}

.listItem {
    list-style: none;
}

.undertitle.up {
    color: var(--green);
}

.undertitle.loss {
    color: var(--red);
}

@media (min-width: 576px) {
    .root + .root {
      margin-top: 0;
    }
    .cardsWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
    .undertitle {
        max-width: 270px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .cardsWrapper {
      column-gap: 20px;
      row-gap: 30px;
    }

    .root {
      max-width: 85%;
    }

    .pare,
    .itemValue {
      font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .cardsWrapper {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }

    .root {
        display: grid;
        grid-template-columns: max-content max-content 1fr 1fr 1fr 1fr;
        grid-column-gap: 40px;
        max-width: 100%;
    }

    .logoWrapper {
        margin: 0;
    }

    .main {
        margin-bottom: 0;
    }

    .listItem,
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main {
        text-align: left;
    }

    .list + .list {
        margin-top: 0;
    }

    .undertitle {
        margin: 0;
    }
}

