.addImgWrapper {
    cursor: pointer;
    position: relative;
}

.modal {
    margin-left: 4px;
}

.tooltip {
    position: relative;
    z-index: 1;
    display: inline-block;
    border-bottom:  1px doted #606060;
}
  
.tooltip .tooltiptext {
    visibility: visible;
    width: 200px;
    background-color: #1E1E1E;
    color: #fff;
    border: 1px solid #606060;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    border-radius: 6px;
    bottom: 140%;
    left: 50%;
    margin-left: -30px;
    position: absolute;
}

.tooltiptext::before {
    content:'';
    bottom:-8px;
    z-index: 1;
    left:20px;
    position:absolute;
    width: 15px;
    height: 15px;
    background-color: #1E1E1E;
    border-bottom: solid 1px #606060;
    border-right: solid 1px #606060;
    border-bottom-right-radius: 30%; 
    transform: rotate(45deg);
}

.title{
    color: white;
    font-size: 14px;
}