.wrapperBorrow,
.wrapper {
	display: grid;
	justify-content: space-around;

	padding: 20px 0 40px;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.wrapperRepay {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 20px;

	padding: 20px 0 40px;
}

.blockWrapper {
	flex: 1;

	padding: 24px 12px 24px 32px;

	text-align: center;

	border-radius: 18px;
	background: #1E1E1E;
}

.sectionTitle {
	margin-right: 5px;
	margin-bottom: 6px;

	color: var(--gray);

	font-size: 18px;
	line-height: 25px;
}

.sectionValue {
	color: var(--color-6);

	font-size: 24px;
	font-weight: 600;
	line-height: 1em;
}

.actionCard {
	position: relative;
	z-index: 5;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	min-height: 293px;
	padding: 30px 30px 35px;

	border: 1px solid rgb(255 255 255 / 10%);
	border-radius: 18px;
	background: rgb(30 30 30 / 10%);
}

.infoContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.infoDescription {
	position: absolute;
	z-index: 50;
	top: 100px;

	width: 90%;
	height: 60%;

	text-align: center;

	background: #111;
}

.noPadding {
	padding: 5px 0;
}


.switcher {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.helper {
	width: 20%;
	min-width: 200px;
	margin: 10px auto 80px;
}


.miniButtonsGroup {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2vw;

	margin-top: 10px;
}

.miniButtonsGroup button {
	width: 100%;
}

.white {
	color: white;
}

.mgb {
	margin-bottom: 1rem;
}

.mgt {
	margin-top: 1rem;
}

.infoBlock {
	text-align: left;
}

.infoBlock p {
	padding: 10px 0;
}

.infoBlock p:last-child {
	color: var(--gray)
}

.textTitle {
	color: #A3A3A3 !important;

	font-size: 16px !important;
	font-weight: 400 !important;
	font-style: normal !important;
	line-height: 22px !important;
}

.textValue {
	white-space: nowrap;

	color: #ECECEC !important;

	font-size: 16px !important;
	font-weight: 400 !important;
	font-style: normal !important;
	line-height: 22px !important;
}

@media screen and (max-width: 1000px) {
	.wrapperBorrow, .wrapperRepay, .wrapper {
		grid-template-columns: 1fr;
	}

	.wrapper {
		margin-top: 40px;
	}
	
	.wrapperBorrow {
		grid-template-rows: 260px 260px 260px;
	}

	.actionCard {
		height: 100%;
		min-height: unset;
		margin: auto;
		padding: 20px;

		white-space: normal;
	}

	.textTitle {
		white-space: normal;
	
		font-size: 15px !important;
	}

	.textValue {
		font-size: 15px !important;
	}

	.blockWrapper:nth-child(n){
		grid-column: 1/2;
	}

	.helper {
		width: 100%;
	}

	.titleCustom {
		font-size: 18px !important;
	}
}
