
.wrapper {
  padding: 1px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  cursor: pointer;
  user-select: none;
}

.wrapper > * {
  flex: 1;
}

.titleElement {
  background-color: var(--color-11);
  color: var(--white);
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  text-align: center;
  background-color: var(--color-11);
  border-radius: inherit;
  padding: 14px 30px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: var(--white);
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
}

.active {
  background-color: rgba(18, 18, 18, 0.75);
}

.wrapper:not(.disabled):hover .title {
    background-color: rgba(18, 18, 18, 0.75);
}

.wrapper.disabled {
    opacity: .4;
    cursor: no-drop;
}
