.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	padding: 30px 0;
}

.searchWrapper {
	position: relative;

	width: 100%;
	max-width: 378px;

	border-radius: 10px;
}

.customInput {
	box-shadow: inset 0 0 4px 1px var(--color-11);
}



.filterWrapper {
	display: flex;
	justify-content: space-between;

	width: 100%;
	max-width: calc(161px * 2);
}

.filterWrapper > div {
	margin: 5px;
}

.cutomClassName > label {
	text-align: center;
}

@media (max-width: 800px){
	.wrapper {
		justify-content: space-evenly;
	}
}