.wrapper {
	margin-top: auto;
}

.content {
	position: relative;

	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	width: 85%;
	margin: auto;
}

.logo {
	display: flex;

	cursor: pointer;
}

.navigate {
	display: flex;
	justify-content: space-between;

	width: 50%;
}

.navigate > span {
	padding-top: 10px;
	padding-bottom: 30px;

	text-align: left;
}

.mainLink {
	cursor: pointer;

	font-size: 16px;
	line-height: 16px;
}

.addLink {
	padding-top: 24px;

	cursor: pointer;

	color: var(--gray);
}

.link {
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.07em;
	text-transform: uppercase;

	color: var(--gray);

	font-size: 12px;
}

.activeLink {
	color: var(--color-5);
}

.connection {
	display: flex;
	align-items: center;

	padding-top: 10px;
	column-gap: 25px;
}

.product {
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;

	padding-top: 20px;

	text-align: center;

	opacity: 0.5;
	color: var(--gray);

	border-top: 1px solid var(--gray);

	font-size: 18px;
}

@media screen and (max-width: 1024px) {
	.content {
		align-items: left;
		flex-direction: column;

		margin-left: 15px;

		row-gap: 30px;
	}

	.navigate {
		flex-direction: column;
		row-gap: 10px;
	}

	.navigate > span {
		padding-bottom: 5px;
	}

	.mainLink {
		font-size: 14px;
	}

	.addLink {
		font-size: 14px;
	}

	.product { 
		width: max-content;
		margin-left: 15px;

		font-size: 14px;
	}
}