.wrapper {
    margin: 5rem 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    max-width: 674px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.descriptItem {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.graphData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cur {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ECECEC;
    padding-bottom: .2rem;
}

.validatorData {
    width: 40%;
}

.validators {
    margin-top: 5rem;
}

.desItem {
    margin-bottom: 2rem;
}

.graphText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.formItem {
    margin: 1rem 0;
}

.miniButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stakeForm {
    background: rgba(30, 30, 30, 0.1);
    padding: 3rem 2rem;
    border: 2px solid #121212;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25), inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(62px);
    border-radius: 18px;
    max-width: 380px;
    width: 100%;
    max-height: 546px;
    height: 100%;
}

.shareText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shareText p:not(:first-child) {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(163, 163, 163, 1);
}

.shareText p:first-child {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 900px) {
    .container, .wrapper {
        width: 100%;
        flex-direction: column;
        margin: 5rem auto;
    }

    .description {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .stakeForm {
        margin: 2rem auto;

    }
}