.wrapper {
    display: flex;
    align-items: center;
    padding: 15px 34px;
    background-color: var(--color-3);
    border-radius: 12px;
}

.input {
    margin-right: 15px;
    color: var(--color-4);
    width: 100%;
    font-size: 16px;
    letter-spacing: .5px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input::placeholder {
    color: var(--color-17);
}
