.wrapper {
	position: relative;
}

.back {
	display: flex;
	flex-direction: row;

	width: fit-content;

	margin: 3rem 0 1rem;

	cursor: pointer;
}

.dFlex {
	display: flex;
}

.back p {
	margin-left: .8rem;

}

.header {
	display: flex;
	align-items: center;

	white-space: nowrap;

	font-size: 35px !important;
}

.headerDesc {
	padding: 13px 0 30px;

	color: var(--gray);

	font-size: 18px;
}

.images {
	display: flex;
	align-items: center;

	padding-left: 15px;
}

.images span:first-child {
	z-index: 5;
}

.images span:last-child {
	position: relative;
	z-index: 4;
	left: -10px;
}

.yieldHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 20px;
}

.noMargin {
	margin: 0;
}

.yieldHeader > div {
	width:350px;
}

@media (max-width: 900px){
	.yieldHeader{
		padding-top: 300px;
	}

	.images span:last-child {
		left: 0;
	}

	.wrapper {
		margin-top: 70px;
	}

	.header {
		font-size: 18px !important;
	}

	.headerDesc {
		font-size: 14px;
	}
}