.blockValue {
	padding-top: 8px;

	color: var(--white);

	font-size: 24px;
	font-weight: 600;
}

.blockValueGood {
	color: var(--green);
}

.bordered {
	padding: 4px 8px;

	border-radius: 18px;
	background-color: rgb(255 255 255 / 15%);

	font-size: 14px;
}


.smallImg {
	display: flex;

	padding-right: 8px;
}

.smallImg img {
	height: 32px;
}

.linedValue {
	display: flex;
	align-items: center;
	flex-direction: row;

	font-size: 24px!important;
}

.horisontalWrapper {
	display: flex;
	align-items: center;
	flex-direction: row;

	margin-top: 16px;
	gap: 16px;
}

.verticalWrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.blockValueBad {
	color: var(--red);
}

.blockInfo {
	color: var(--gray);

	font-size: 16px;
	font-weight: 400;
}

.blockWrapper {
	position: relative;

	overflow: hidden;
	flex: 1;

	padding: 24px 12px 24px 32px;

	text-align: center !important;

	border: 1px solid var(--color-9);

	border-radius: 18px;
	background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgb(255 255 255 / 2%) 0%, rgb(255 255 255 / 0%) 100%) 
}

.blockWrapper::after {
	position: absolute;

	z-index: 5;
	top: 90%;
	left: 25%;

	width: 50%;
	height: 30%;

	content: '';

	border-radius: 50px;

	background: linear-gradient(180deg, #FB37FF 0%, #0094FF 100%);

	filter: blur(50px);
}

@media screen and (max-width: 640px) {
	.linedValue {
		flex-direction: column;
	}
}
