.wrapper {
	padding-top: 50px;
}

.header {
	font-size: 35px !important;
}

.headerDesc {
	padding-top: 13px;

	color: var(--gray);

	font-size: 18px;
}

.infoWrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	margin: 30px 0;
	gap: 30px;
}

.customInfoWrapper {
	display: block;

	padding: 24px !important;

	text-align: center !important;
}

.customInfoTitle {
	display: block;

	text-align: center;
}

.customInfoValue {
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
}

@media screen and (max-width: 1000px) {
	.infoWrapper {
		grid-template-columns: 1fr;
		gap: 15px;
	}
	
	.customInfoWrapper {
		display: flex;
		justify-content: space-between;
	}

	.header {
		font-size: 25px !important;
	}
	
	.headerDesc {
		font-size: 15px;
	}
}