.wrapper {
	padding-top: 100px;
}

.header {
	font-size: 35px !important;
}

.headerDesc {
	padding-top: 13px;

	color: var(--gray);

	font-size: 18px;
}

.infoWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	margin: 30px 0;
	gap: 30px;
}
