.wrapper {
    margin: 3rem 0;
}

.textHeader {
    font-size: 35px;
    line-height: 48px;
}

.header {
    margin: 2rem 0;
}

.chart {
    width: 50%;
    height: 173px;
}

.chartBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.assetHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
}

.soon {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    margin: auto;
    z-index: 99999;
    inset: 0;
    width: 279px;
    height: 33px;
}

.filterBlock {
    width: 40%;
    display: flex;
    flex-direction: row;
}

.mgr {
    margin-right: 1rem;
}

.glow {
    position: absolute;
    z-index: -9999;
    filter: blur(50px);
}

.purple {
    right: -190px;
    bottom: 0;
}

.blue {
    top: 50px;
    left: -220px;
}

.select {
    border: 1px solid #1e1e1e !important;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.9) !important;
    max-width: 271px !important;
    border-radius: 12px !important;
    background-color: transparent !important;
}
