.wrapper {
	display: block;
}

.depositInfo {
	display: grid;

	margin: 30px auto;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
}


.infoCard {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	padding: 18px 25px;

	border: 2px solid rgb(255 255 255 / 10%);

	border-radius: 18px;
	background: rgb(30 30 30 / 10%);
	backdrop-filter: blur(15px);

}

.infoCard > span {
	padding-bottom: 5px;
	display: flex;
}

.infoCard > span > p {
	font-size: 14px;
	color: var(--gray);
}

.balancesBlock > div:first-child {
	padding-bottom: 15px !important;
}

.customTextGroop p {
	font-size: 17px !important;
}

.cardMainInfoText {
	color: var(--text-color);

	font-size: 22px;
}

.cardMainInfo > *:last-child {
	padding-left: 10px;
}

.currencyBlocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;

	padding: 150px 0;
}

.currencyBlocks > div {
	padding: 100px;

	border-radius: 18px;

	background-color: var(--color-18);
}

.currencyBlocks > div > p {
	padding-bottom: 4px;

	color: var(--gray);
}

.currencyBlocks > div > span {
	display: flex;
	align-items: center;
}

.currencyBlocks > div > span > p {
	padding-left: 10px;
}

.depositDo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;

	height: 300px;
}

.depositDo > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 100%;
	height: 100%;
	margin: auto;


	padding: 5px 30px 10px;

	border: 2px solid rgb(255 255 255 / 10%);
	border-radius: 18px;
	background: rgb(30 30 30 / 10%);
	backdrop-filter: blur(15px);
}


.miniButtons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;

	padding-top: 10px;
}

.miniButtons > button {
	width: 100%;
}

.buttonContainer {
	margin-top: 30px;
}

@media (max-width: 900px){
	.depositDo  {
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
	}

	.depositInfo {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 10px;
	}
}

@media (max-width: 570px){
	.depositInfo {
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
	}
}