.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 0 40px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
}


@media screen and (max-width: 660px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.blockValue {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.blockValueGood {
    color: #5BC15F;
}

.blockValueBad {
    color: #C8534F;
}

.blockInfo {
    
    font-size: 16px;
    color: #A3A3A3;
    font-weight: 400;
}

.blockWrapper {
    flex: 1;
    text-align: center;
    padding: 24px 12px 24px 32px;
    background: #1E1E1E;
    border-radius: 18px;
}
