.formItem {
    margin: 1rem 0;
}

.iBlock {
    display: flex;
    flex-direction: row;
}

.iBlock p:first-child {
    margin-right: .4rem;
}

.shareText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shareText p:not(:first-child) {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(163, 163, 163, 1);
}

.shareText p:first-child {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}