.wrapper {
    margin-top: auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
}

.content:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
}

.logo {
    display: flex;
}

.navigate {
    display: flex;
    column-gap: 60px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--gray);
    cursor: pointer;
}

.activeLink {
    color: var(--color-5);
}

.connection {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.product {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0.3;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
  }

  .navigate {
    margin: 14px 0;
  }
}

@media screen and (max-width: 640px) {
  .navigate {
    flex-direction: column;
  }
}
