.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.checkBox {
    display: none;
}

.checkBox:checked + label::after {
    background: rgba(21, 21, 21, 1);
    background-image: url('/images/check.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    pointer-events: none;
    background-position: center;
}

.checkBox + label {
    z-index: 3;
    cursor: pointer;
    padding-left: 50px;
    display: block;
    position: relative;
    height: 20px;
    line-height: 1.7em;
  }
.checkBox + label::before {
    z-index: 2;
    top: 0px;
    left: 3px;
    width: 33px;
    height: 33px;
    background: linear-gradient(90deg, #FF5EBA 0%, #00F0FF 100%);;
    display: block;
    content: "";
    position: absolute;
  }
.checkBox + label::after {
    z-index: 2;
    top: 2px;
    left: 4px;
    width: 31px;
    height: 29px;
    background: rgba(21, 21, 21, 1);
    display: block;
    content: "";
    position: absolute;
  }

.text {
    color: #fff;
}