.blockValue {
  font-weight: 600;
  font-size: 24px;
  color: var(--white);
  padding-top: 8px;
}

.blockValueGood {
  color: var(--green);
}

.bordered {
  border-radius: 18px;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 14px;
}

.smallText {
  font-size: 16px;
}

.smallImg {
  padding-right: 8px;
  display: flex;
}

.smallImg img {
  height: 32px;
}

.linedValue {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.horisontalWrapper {
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.verticalWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blockValueBad {
  color: var(--red);
}

.blockInfo {
  font-size: 16px;
  color: var(--gray);
  font-weight: 400;
}

.blockWrapper {
  flex: 1;
  padding: 24px 12px 24px 32px;
  background: var(--color-3);
  border-radius: 18px;
}
@media screen and (max-width: 640px) {
  .linedValue {
    flex-direction: column;
  }
}
