.text {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.text p:first-child {
	display: flex;
	align-items: center;

	color: #A3A3A3;

	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 22px;
}

.text p:not(:first-child) {
	display: flex;
	align-items: center;

	margin-left: auto;

	color: #ECECEC;

	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 22px;
}

.bigFont {
	font-size: 24px !important;
}
