.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 0 40px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    padding-top: 20px;
}
.blockWrapper {
    flex: 1;
    text-align: center;
    padding: 24px 12px 24px 32px;
    background: #1E1E1E;
    border-radius: 18px;
}
.sectionTitle {
    color: var(--gray);
    font-size: 16px;
    margin-bottom: 6px;
    margin-right: 5px;
}

.sectionValue {
    color: var(--color-6);
    font-weight: 600;
    font-size: 24px;
    line-height: 1em;
}

.actionCard {
    width: 100%;
    min-height: 293px;
    border-radius: 18px;
    background: rgba(30, 30, 30, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    position: relative;
    backdrop-filter: blur(62px);
    padding: 20px 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
  }

  .actionCard:nth-child(n){
      min-height:calc(293 / 2)px;
  }

.switcher {
    display: flex;
    justify-content: space-between;
}

.white {
    color: white
}

.helper {
    width: 40%;
    margin: 10px auto;
}

.arrow {
    position: absolute;
    display: block;
    left: -35px;
    top: 40%;
    z-index: 50;
    transform: rotate(-90deg);
}

@media screen and (max-width: 1024px) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    .arrow {
        display: none;
    }
  }
  
  @media screen and (max-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr;
    }
    .arrow {
        display: block;
        transform: rotate(0deg);
        top: -40px;
        left: 40%;
    }
    .actionCard {
        min-height: 230px;
    }
  }
  