.root {
	display: flex;

	width: 100%;
	gap: 12px;
}

.block.selected::before {
	opacity: 1;
}

.block::before {
	position: absolute;
	z-index: 10;

	min-width: 30px;
	min-height: 30px;
	margin-top: -1px;
	margin-left: -1px;

	content: '';
	transition: opacity 0.5s ease-out;

	opacity: 0;
}


.block, .block > div {
	transition: all .4s ease-in;
}

.block {
	min-width: 40px;
	min-height: 40px;

	cursor: pointer;
}

.block > div {
	position: relative;
	z-index: 10;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	color: var(--color-17);
}

.block:hover > div {
	color: var(--color-18);
}

.block.selected > div {
	color: var(--color-18);
	background-color: #1E1E1E;
}

.block.disabled:hover > div {
	color: var(--color-17);
}

.disabled {
	cursor: not-allowed;

	color: var(--gray);
}

