.wrapper {
	position: relative;

	display: flex;
	overflow: hidden;
	flex-direction: column;

	width: 100%;
	padding: 0 20px 33px;

	border: 2px solid rgb(255 255 255 / 10%);
	border-radius: 18px;
	background: rgb(30 30 30 / 10%);
	backdrop-filter: blur(62px);
}

.topBg {
	--bg-height: 112px;
	overflow: hidden;

	height: var(--bg-height);
}

.bg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	height: var(--bg-height);

	background: linear-gradient(
		90deg,
		rgb(15 89 142 / 20%) 0%,
		rgb(15 89 142 / 0%) 100%
	);
}

.top {
	--size: 57px;
	--border-size: 5px;
	position: relative;

	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: calc((var(--size) + var(--border-size) * 2) / 2 * -1);
	margin-bottom: 17px;
}

.logo {
	overflow: hidden;

	box-sizing: content-box;
	width: var(--size);
	height: var(--size);

	border: var(--border-size) solid var(--color-11);
	border-radius: 50%;
	background-color: var(--color-11);
}

.logo img {
	display: block;

	width: 100%;
	height: 100%;
}

.title {
	padding: 9px 22px;

	color: var(--white);
	border: 2px solid var(--color-9);
	border-radius: 16px;
	background: var(--color-3);

	font-size: 14px;
	font-weight: 600;
}

.heading {
	display: flex;
	align-items: center;

	margin-bottom: 15px;

	color: var(--white);

	font-size: 22px;
	column-gap: 10px;
}

.addImgWrapper {
	position: relative;

	cursor: pointer;
}

.metamaskBtnImg {
	height: 18px;
}

.iWrapper {
	cursor: pointer;
}

.description {
	margin-bottom: 20px;

	color: var(--gray);

	font-size: 12px;
	font-weight: 300;
}

.section {
	margin-bottom: 8px;
}

.sectionTitle {
	display: flex;
	align-items: center;

	margin-right: 5px;
	margin-bottom: 6px;

	color: var(--gray);

	font-size: 16px;
}

.sectionValue {
	color: var(--color-6);

	font-size: 24px;
	font-weight: 600;
	line-height: 1em;
}

.sectionSubValue {
	color: var(--color-6);

	font-size: 12px;
	font-weight: 300;
}

.sectionGraySubValue {
	margin-left: auto;

	color: var(--gray);
}

.sectionRow {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;

	width: 100%;
	margin-bottom: 15px;
	gap: 10px;
}

.sectionAvailable {
	margin-bottom: 9px;
}

.sectionPosition {
	margin-bottom: 40px;
}

.rowGradient {
	width: 100%;
	height: 5px;

	border-radius: 2.5px;
	background: rgb(42 42 42);
}

.mt2 {
	margin-top: 40px;
}

.buttonWrapper {
	width: 100%;
	margin-top: auto;
}

.overlayDisabled {
	position: absolute;
	z-index: 10;

	width: 100%;
	height: 100%;

	background: rgb(0 0 0 / 35%);
}

.overlayWrapper {
	position: relative;

	display: flex;
	overflow: hidden;

	width: 100%;

	border-radius: 18px;
}

.hidden {
	display: none;
}

.sectionError {
	margin: 0.5rem 0;

	text-align: center;

	font-size: 18px;
}
