
.wrapper {
  position: relative;
  min-width: 112px;
  display: flex;
  justify-content: flex-end;
}

.title {
    color: var(--gray);
    letter-spacing: 0.07em;
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.list {
    position: absolute;
    left: 0;
    z-index: 3;
    top: 100%;
    width: 100%;
    background-color: var(--color-3);
    border-radius: 12px;
    display: none;
    row-gap: 10px;
    padding: 15px 5px 15px 15px;
}

.wrapper:hover .list {
  display: grid;
  min-width: 112px;
  width: max-content;
}

.wrapper img {
  transition-duration: .3s;
}

.input {
  display: none;
}

.list > * {
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  border-radius: 12px;
}

.list > *:hover {
  background-color: #222222;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    min-width: 100px;
    min-height: 42px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    margin-top: 0;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .list > * {
    font-size: 16px;
  }

  .list {
    position: initial;
  }

  .wrapper:hover .list {
    display: none;
  }

  .wrapper:hover img {
    transform: scaleY(1);
  }

  .input:checked ~ .list {
    display: block;
    background-color: transparent;
    padding: 0 4px;
    margin-bottom: 4px;
  }

  .input:checked ~ div > img {
    transform: scaleY(-1);
  }
}
