.wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 18px;
    background: rgb(30 30 30 / 10%);
    border: 2px solid #121212;
    position: relative;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%),
        inset 0 -4px 4px rgb(255 255 255 / 25%),
        inset 0 0 68px rgb(255 255 255 / 5%),
        inset 0 4px 4px rgb(255 255 255 / 15%);
    backdrop-filter: blur(62px);
    padding: 0 20px 33px;
    display: flex;
    flex-direction: column;
}

.topBg {
    --bg-height: 112px;

    height: var(--bg-height);
    overflow: hidden;
}

.bg {
    position: absolute;
    background: linear-gradient(
        90deg,
        rgb(15 89 142 / 20%) 0%,
        rgb(15 89 142 / 0%) 100%
    );
    left: 0;
    top: 0;
    right: 0;
    height: var(--bg-height);
}

.top {
    --size: 57px;
    --border-size: 5px;

    z-index: 2;
    position: relative;
    margin-top: calc((var(--size) + var(--border-size) * 2) / 2 * -1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.logo {
    width: var(--size);
    height: var(--size);
    background-color: #121212;
    border: var(--border-size) solid #121212;
    border-radius: 50%;
    box-sizing: content-box;
    overflow: hidden;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.title {
    background: var(--color-3);
    border: 2px solid #2c2f38;
    border-radius: 16px;
    font-size: 14px;
    color: #fff;
    padding: 9px 22px;
    font-weight: 600;
}

.heading {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
}

.addImgWrapper {
    cursor: pointer;
}

.metamaskBtnImg {
    height: 18px;
}

.iWrapper {
    cursor: pointer;
}

.description {
    color: var(--gray);
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 8px;
}

.sectionTitle {
    color: var(--gray);
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 6px;
    margin-right: 5px;
}

.sectionValue {
    color: var(--color-6);
    font-weight: 600;
    font-size: 24px;
    line-height: 1em;
}

.sectionSubValue {
    font-size: 12px;
    color: var(--color-6);
    font-weight: 300;
}

.sectionGraySubValue {
    color: var(--gray);
    margin-left: auto;
}

.sectionRow {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 15px;
}

.sectionAvailable {
    margin-bottom: 9px;
}

.sectionPosition {
    margin-bottom: 40px;
}

.rowGradient {
    height: 5px;
    width: 100%;
    background: rgb(42 42 42);
    border-radius: 2.5px;
}

.mt2 {
    margin-top: 40px;
}

.buttonWrapper {
    width: 100%;
    margin-top: auto;
}

.overlayDisabled {
    position: absolute;
    z-index: 10;
    height: 100%;
    background: rgb(0 0 0 / 35%);
    width: 100%;
}

.overlayWrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 18px;
}

.hidden {
    display: none;
}

.sectionError {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 18px;
}
