.line {
	width: 249px;
	height: 2px;
	margin: 1rem 0;

	border-radius: 18px;
	background: linear-gradient(90deg, #FF5EBA 1.27%, rgb(104 49 214 / 87%) 51.2%, #0094FF 103.24%);
}

@media (max-width: 900px) {
	.line {
		margin: 1rem auto;
	}
}