.wrapper {
    padding: 2rem 3rem;
    background: #121218;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    min-width: 480px;
    min-height: 431px;
    width: 100%;
    height: 100%;
}

.wrapper > * {
  flex: 1;
}

.errorText {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
}

.valueTextWrapper {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #a3a3a3;
}

.imgWrapper {
  position: absolute;
  top: -80px;
  left: 89px;
}

.closeImgWrapper {
  position: absolute;
  right: -20px;
  top: -10px;
}

.closeWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 9rem;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 9rem;
}

.metamaskBtnWrapper {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.metamaskText {
  margin-right: .5rem;
}
