.wrapper {
	position: relative;

	display: flex;
	overflow-x: hidden;
	flex-direction: column;

	width: 100%;
	padding: 0 10px;

	border: 1px solid rgb(255 255 255 / 10%);

	border-radius: 18px;
}

.topGradient {
	position: absolute;
	left: -30px;

	width: calc(100% + 30px);
	height: 71px;
}

.cardHeader {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 10px;

	padding-top: 50px;

}

.images {
	display: flex;
}

.images span:first-child {
	z-index: 5;

}

.images span:last-child {
	position: relative;
	z-index: 4;
	left: -10px !important;

}

.headerTitle {
	padding-left: 5px;

	font-size: 18px;

	font-weight: 400;
	line-height: 28px;
}

.description {
	margin-bottom: 15px;

	color: var(--gray);

	font-size: 12px;
	font-weight: 300;
}

.section {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 5px 0;
}

.sectionTitle {
	display: flex;
	align-items: center;

	margin-top: 6px;

	margin-bottom: 6px;

	white-space: nowrap;

	color: var(--gray);

	font-size: 14px;

	font-weight: 400;
	line-height: 22px;
}

.sectionValue {
	white-space: nowrap;

	color: var(--color-6);

	font-size: 14px;

	font-weight: 400;
	line-height: 22px;
}

.footer {
	width: 100%;
	margin: 30px auto;
}
