.wrapper {
	display: grid;
	gap: 30px 25px;
	grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1424px) {
	.wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}


@media screen and (max-width: 1024px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 660px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}
