.miniButton {
    background: linear-gradient(90deg, #FF5EBA 0%, #6831D6DE 87%, #0094FF 100%);
    cursor: pointer;
    border-radius: 12px;
    width: 124px;
    height: 38px;
}

.container {
    color: #ffffff;
    height: 100%;
    width: 100%;
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.active .container {
    background: #0f0f0f!important;
}

.active {
    padding: .1rem;
}