:root {
	--black: #101010;
	--gray: #A3A3A3;
	--color-3: #1E1E1E;
	--color-4: #EDF2F7;
	--color-5: #F9F8F8;
	--color-6: #ECECEC;
	--color-7: #282B30;
	--color-8: #E7E7E7;
	--color-9: #2C2F38;
	--color-10: #222;
	--color-11: #121212;
	--color-12: #191A1D;
	--color-13: #373C42;
	--color-14: #484E56;
	--color-15: #3B4048;
	--color-16: #5F6265;
	--color-17: #989898;
	--color-18: #E9E9E9;
	--color-19: #161616;
	--green: #11BB8D;
	--red: #C8534F;
	--white: #FFF;
}

@custom-media --media-xs-max (max-width: 360px);
@custom-media --media-xs (min-width: 361px);
@custom-media --media-sm-max (max-width: 624px);
@custom-media --media-sm (min-width: 625px);
@custom-media --media-md-max (max-width: 767px);
@custom-media --media-md (min-width: 768px);
@custom-media --media-lg-max (max-width: 991px);
@custom-media --media-lg (min-width: 992px);
@custom-media --media-xl-max (max-width: 1139px);
@custom-media --media-xl (min-width: 1140px);
@custom-media --media-2xl-max (max-width: 1199px);
@custom-media --media-2xl (min-width: 1200px);
@custom-media --media-3xl (min-width: 1300px);
@custom-media --media-4xl (min-width: 1400px);
