.wrapper {
  padding: 12px 22px 12px 16px;
  flex: 1;
  background-color: #1E1E1E;
  border-radius: 12px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--color-4);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.label {
    width: 100%;
    pointer-events: none;
    cursor: pointer;
}

.icon {
    pointer-events: none;
    cursor: pointer;
}

.options {
    display: grid;
    list-style: none;
    position: absolute;
    top: calc(100% + 3px);
    background-color: #1E1E1E;
    border-radius: 12px;
    left: 0;
    width: 100%;
    padding: 12px;
    z-index: 3;
}

.options li{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #1E1E1E;
    position:relative;
}

.checkbox{
    width:14px;
    height: 14px;
    background-color: red;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.options li:hover {
    background-color: var(--color-10);
}
