.wrapper {
  width: 448px;
  height: 408px;
  inset: 0;
  background: rgba(30, 30, 30, 0.5);
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  padding: 24px 32px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.closeWrapper {
  cursor: pointer;
}

.headerText {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FCFCFD;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82%;
}

.walletElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  width: 384px;
  height: 56px;
  background: #101010;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  cursor: pointer;
  transition: all .5s;
}

.walletElement:hover {
  background: #1010107a;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FCFCFD;
}

.logo {
  margin: 41.5% 0 40% 0;
}