.closeWrapper {
  display: flex;
  justify-content: flex-end;
}

.closeImg {
  width: 20px;
  margin-bottom: 16px;
  cursor: pointer;
}

.BtnWrapper:hover {
  opacity: 0.6;
}

.BtnWrapper {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  flex: 1;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
}

.flex1 {
  flex: 1;
}

.flex4 {
  flex: 4;
}

.ml0 {
  margin-left: 0rem;
}

.ml1 {
  margin-left: 1rem;
}

.flex2 {
  flex: 2;
}

.btnActionWrapper {
  display: flex;
}

.gradientBtnWrapper {
  padding-top: 16px;
}

.BtnImg {
  height: 32px;
}

.errorText {
  color: var(--color-6);
  font-weight: 600;
  padding: 0 16px;
  font-size: 24px;
  line-height: 1em;
  text-align: center;
}

.valueText {
  color: var(--color-6);
  font-size: 24px;
  font-weight: 600;
  line-height: 1em;
}

.valueTextWrapper {
  padding: 0 16px;
  font-size: 12px;
  color: var(--color-6);
  font-weight: 300;
}

.errorTextContent {
  margin: 16px 0;
  text-align: left;
  font-weight: inherit;
  color: var(--gray);
  font-size: 16px;
}

.walletWrapper>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.BtnText {
  text-align: center;
}

.walletWrapper {
  display: grid;
  padding-top: 16px;
  grid-template-columns: 1fr 1fr;
}