.wrapper {
	overflow: scroll;

	width: 95vw;
	max-width: 404px;
	height: 90vh;
	max-height: 730px;
	padding: 30px;

	border: 2px solid rgb(255 255 255 / 10%);
	border-radius: 12px;
	background: #1E1E1E;
	backdrop-filter: blur(15px);
}

.wrapper::-webkit-scrollbar {
	width: 12px;
	height: 0;
}

.wrapper::-webkit-scrollbar-track {
	background: #FFF0;
}

.wrapper::-webkit-scrollbar-thumb {
	border: 4px solid #1E1E1E;
	border-radius: 10px;
	background-color: #636363;
}

.header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	margin-bottom: 1.5rem;
}

.headerText {
	display: flex;
	align-items: center;

	color: #FFF;

	font-size: 22px;
	font-weight: 500;
	font-style: normal;
	line-height: 30px;
}

.close {
	cursor: pointer;
}

.priceBlock {
	--color-from: #FFF;
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 90%;
	padding: 0.5rem;

	border-radius: 12px;

	background: linear-gradient(
		90deg,
		rgb(15 89 142 / 0%) 0%,
		var(--color-from) 100%
	),
		#121212;
}

.priceContent {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	width: 306px;
	height: 77px;
	padding: 0.6rem 1.5rem;
}

.priceContent p:first-child {
	display: flex;
	align-items: center;

	margin-bottom: 0.5rem;

	color: #A3A3A3;

	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 22px;
}

.priceContent p:not(:first-child) {
	display: flex;
	align-items: center;

	color: #ECECEC;

	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
}

.logo {
	position: absolute;
	top: 23%;
	right: -33px;

	width: 57px;
	height: 57px;

	border-radius: 99999px;
	outline: 5px solid #1E1E1E;
}

.warn {
	margin: 1.08rem 0;

	text-align: center;

	color: var(--gray);

	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
}

.warnScd {
	margin: 0.5vw 0;

	text-align: center;

	color: #FFF;

	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
}

.mg2 {
	margin: 1.5vh 0;
}

.mgT {
	margin: 1vh 0;
}

.textTitle {
	color: #A3A3A3 !important;

	font-size: 16px !important;
	font-weight: 400 !important;
	font-style: normal !important;
	line-height: 22px !important;
}

.textValue {
	color: #ECECEC !important;

	font-size: 16px !important;
	font-weight: 400 !important;
	font-style: normal !important;
	line-height: 22px !important;
}
