.wrapper {
	display: flex;
	justify-content: space-between;

	margin: 36px 0;
}

.filterWrapper {
	display: flex;
	gap: 10px;

	width: 100%;
	max-width: 40%
}

.checkbox{
	width:20px;
	height: 20px;
	margin-right: 15px;

	border: 1px solid #AEAEB2;
	border-radius: 4px;
}

.activeCheckbox{
	background-color: #AEAEB2;
}

.searchWrapper {
	width: 100%;
	max-width: 33%;
}

.searchIcon {
	cursor: pointer;
}

.filterWrapperSelect {
	z-index: 47;

	max-width: 260px;

	border: 1px solid #2C2F38;
	background-color: #101010 !important;

}

@media screen and (max-width: 1000px) {
	.searchWrapper {
		max-width: 47%;
	}

	.filterWrapper {
		max-width: 47%;
	}
}

@media screen and (max-width: 660px) {
	.wrapper {
		flex-direction: column;

		margin: 10px 0 20px;
	}

	.filterWrapper, .searchWrapper {
		max-width: initial;
		margin: 16px 0;
	}

	.filterWrapper {
		order: 1;
		gap: 10px;

		margin: 0;
	}

	.filterWrapperSelect {
		width: 100%;
		margin: 0 auto;
	}
}
